@model IEnumerable<AdminModule.Models.woman>

@{
    ViewBag.Title = "GetWomenList";
}

<h2>GetWomenList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.women_id)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.women_full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.women_contact_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.women_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.women_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.women_state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.women_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.women_full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.women_contact_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.women_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.women_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.women_state)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.women_id }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
