@model IEnumerable<AdminModule.Models.getAllCourses_Result>

@{
    ViewBag.Title = "GetAllCourses";
}
<link href="~/Css/Style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Course <b>Dashboard</b></h2>
                    </div>

                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th> Course Name</th>
                        <th>Trainer Name</th>
                        <th>Course Start Date</th>
                        <th>Course End Date</th>
                        <th>Course Category</th>
                        <th>NGO Name</th>
                        <th>Approval Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.course_name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.trainer_full_name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.course_start_date)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.course_end_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngo_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.approvedstatus)
                        </td>



                        <td>

                            @Html.ActionLink("Details", "GetCourseById", new { id = item.course_id })

                        </td>
                    </tr>


                    }




            </table>
        </div>
    </div>
</body>










@*<h2>GetAllCourses</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.course_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngo_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course_start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course_end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngo_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainer_full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category_name)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.course_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngo_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trainer_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngo_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trainer_full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_name)
            </td>
            <td>

                @Html.ActionLink("Details", "GetCourseById", new {  id=item.course_id})

            </td>
        </tr>
    }

    </table>*@
