@model AdminModule.Models.LoginModal

@{
    ViewBag.Title = "Login";
    Layout = null;
}



<style>
    body, html {
        height: 100%;
    }
    .text-danger1 {
        color: red !important;
        font-size: 15px;
        
        
    }
    .input-group1 {
        margin-bottom:5px!important;
    }

    * {
        box-sizing: border-box;
    }

    .bg-img {
        background-image: url('../../Images/Image11.jpg');
        
        /* Control the height of the image */
        height: 100vh;
        width: 100vw;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    /* Add styles to the form container */
    .container1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        margin: 0 20px;
        width: 450px;
        padding: 16px;
        background-color: white;
    }
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
    /* Set a style for the submit button */
    .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .btn:hover {
            opacity: 1;
        }
</style>

<body>
    <div class="bg-img">

        <div class="container1">
            <h2 style="text-align:center">Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger1" })
                <div class="input-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger1 input-group1" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger1" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>

    </div>

</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@*<style>
        body {
            background: hsl(0, 100%, 70%);
        }
    </style>
    <h2>Login</h2>*@

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

@*<!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>
        <div class="bg-img">
            <form action="/action_page.php" class="container">
                <h1>Login</h1>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </body>
    </html>*@